<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524696422676-2779b2vh8bjkspoghtq7f7ldj95ie869.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524696422676-2779b2vh8bjkspoghtq7f7ldj95ie869</string>
	<key>API_KEY</key>
	<string>AIzaSyCU7rL9__C_7cBWIMWuN4SdDlwBbRpdA3o</string>
	<key>GCM_SENDER_ID</key>
	<string>524696422676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.started.code</string>
	<key>PROJECT_ID</key>
	<string>easy-9473c</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-9473c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524696422676:ios:e4bf631c52af3b07085a01</string>
</dict>
</plist>